@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Yekan Bakh;
  src: url("../public/assets/fonts/YekanBakh/Yekan Bakh EN 05 Medium.ttf");
}

body {
  margin: 0;
  font-family: Yekan Bakh;
  direction: rtl;
  max-width: 1280px;
  min-width: 480px;
  margin-left: auto;
  margin-right: auto;
  /* overflow: hidden; */
}

.custom-input {
  border-radius: 8px;
  border: 1px rgb(211, 210, 210) solid;
  padding: 4px 12px;
  background-color: white;
  height: 36px;
  width: 192px;
}

.rmdp-calendar { 
  width: 167px; 
  height: 161px !important; 
  
} 

.rmdp-day-picker>div { 
  width: 160px; 
  height: 111px; 
} 

.rmdp-header { 
  height: 22px !important; 
  margin-top: -2px !important; 
  margin-bottom: 2px !important; 
  line-height: 32px !important; 
} 

.rmdp-day, 
.rmdp-week-day { 
  height: 19.5px !important; 
  width: 25px !important; 
  font-size: 11px !important; 
} 

.rmdp-day>span { 
  font-size: 10px !important; 
} 

.rmdp-header, 
.rmdp-month-name { 
  font-size: 12px !important; 
} 

.rmdp-header-values { 
  color: #707070; 
} 

.rmdp-day>span { 
  bottom: 1px; 
  padding-left: 0px !important 
}

/* #preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
}

#loader {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-top-color: #000066;
  border-right-color: #ccccff;
  border-bottom-color: #000066;
  border-left-color: #ccccff;
  border-width: 16px;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
} */
#prelaoder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999999;
}
#prelaoder video {
position: relative;
top: 40%;
  margin: auto;
  width: 15%;
  height: 100;
  object-fit: cover;
}
body.loaded #prelaoder {
  display: none;
}