.introHolder {
  background-image: url(../public/assets/images/Landing/intro-holder.png);
  background-repeat: no-repeat;
}

@media screen and (min-width: 1160px) {
  .scrollDown {
    height: 50px;
    width: 32px;
    border: 2px solid rgb(14, 177, 231);
    margin-top: 450px;
    position: relative;
    left: 700px;
    border-radius: 50px;
    cursor: pointer;
  }
  .html {
    scroll-behavior: smooth;
  }

  .scrollDown::before,
  .scrollDown::after {
    content: "";
    border: 2px solid rgb(0, 191, 255);
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -10%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scrollDown 1s ease-in-out infinite;
  }
  .scrollDown::after {
    top: 30%;
    animation-delay: 0.3s;
  }

  @keyframes scrollDown {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: 90%;
    }
  }
}

/* forProgress */

.cir02 {
  stroke-width: 20;
  stroke-dasharray: 1562.31;
  fill: #f6fbff;
  cursor: pointer;
}

.svg_2 {
  cursor: pointer;
}

.progressBarr {
  position: absolute;
  top: 510px;
  right: 18px;
  position: fixed;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
}

@media screen and (max-width: 1262px) {
  svg.progressBar {
    top: 368px;
    right: 0px;
  }
}

@media screen and (max-width: 749px) {
  svg.progressBar {
    top: 325px;
    right: -2px;
  }
}
