.custom-input {
    border-radius: 7px;
    border: 1px rgb(211, 210, 210) solid;
    padding: 4px 12px;
    background-color: white;
    height: 36px;
    width: 192px;
  }

  .bgPic{
    background-image: url("../public/assets/images/Login/bgs.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* object-fit: scale-down; */


    /* background-size: auto; */
    /* background-size: 1280px 1000px; */
    /* object-fit: contain; */
    /* object-fit: fill; */


  }